*{
    margin: 0;
}
article {
    font-family: Arial;
}

/* ----------------------------------- se1 -------------------------- */

#se1-main {
    background: none;
    width: 100%;
}

.se1-h1 {
   /* text-transform: uppercase;*/
    margin: 10px;
    font-size: 48px;
}

.se1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.se1-block {
    text-align: center;
    width: 50%;
    margin: 20px;
    height: auto;
}
.se1-right-image {
    width: 100%;
    object-fit: contain;
}
.se1-left-text-p {
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    text-indent: 40px;
    font-size: 20px;
    font-weight: 100;
    font-family: Calibri;
}

#se1-h1-br {
    display: none;
}
/* ----------------------------------- se1-end -------------------------- */

/* ----------------------------------- se2 -------------------------- */
#se2-main {
    background-color: #e6e6e1;
    width: 100%;
}
/* ----------------------------------- se2-end -------------------------- */

/* ----------------------------------- se3 -------------------------- */
#se3-main {
    background-color: #edede8;
    width: 100%;

}

/* ----------------------------------- se3-end -------------------------- */

/* ----------------------------------- se4 -------------------------- */
#se4-main {
    width: 100%;
}
/* ----------------------------------- se4-end -------------------------- */

@media all and (max-width: 1514px) {
    #se1-h1-br {
        display: inline;
    }
}
@media all and (max-width: 1000px) {
    .se1 {
        flex-direction: column;
    }
    #se1 {
        flex-direction: column-reverse;
    }
    #se3 {
        flex-direction: column-reverse;
    }
    .se1-block {
        width: 90%;
    }
}

